* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    display: inline;
    font-size: 1rem;
    align-content: space-around;
}
li a {
    text-decoration: none;
    color: rgb(238, 229, 229);
}
ul {
    background-color: rgb(102, 91, 91);
    padding: 10px;

}